/* Add CSS Styling */
.a{
    background-color: black;
    color:white
}
.b{
    background-color: yellow;
    color:black
}
.a,
.b {
  font-size: 28px;
  font-family: Helvetica, "Times New Roman", sans-serif;
}
